#menu ul {
      list-style: none; /*убираем маркеры списка*/
      margin: 0; /*убираем отступы*/
      padding-left: 20; /*убираем отступы*/
      margin-top:45px; /*делаем отступ сверху*/
        text-align:left;
        vertical-align:top;
    }
 #menu a {
      text-decoration: none; /*убираем подчеркивание текста ссылок*/
      background:#2a8bcc; /*добавляем фон к пункту меню*/
      color:#fff; /*меняем цвет ссылок*/
      padding:12px; /*добавляем отступ*/
      font-family:inherit; /*меняем шрифт*/
      border-radius:2px; /*добавляем скругление*/
      -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
      -o-transition: all 0.3s 0.01s ease;
      -webkit-transition: all 0.3s 0.01s ease;
    }
#menu a:hover {
      background:#2176af;/*добавляем эффект при наведении*/
    }
#menu li {
      float:left; /*Размещаем список горизонтально для реализации меню*/
      margin-right:5px; /*Добавляем отступ у пунктов меню*/
}
#menu .active a{
background-color:#7bc706;
}
.catalog a {
   text-decoration: none; 
    font-family:sans-serif;
    color:#242859;
}
.my {
    display:block;
     text-align: top;
    margin: 0 auto;
}
.container{overflow:hidden;width:200px}
.box{white-space:nowrap}
.box div{width:90px;display:inline-block;border:1px solid black}

   .thumb img  {
    border: 7px #FFF5EE; /* Рамка вокруг фотографии */
    padding: 4px;
       background: #FFF5EE;
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    float: left;
margin-left: 10px;
   }
.otstyp img {
    margin-left: 10%;
}
/* gallery */
.hovergallery img{
-webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
-moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
-o-transition-duration: 0.5s; /*Opera: длительность анимации*/
opacity: 0.7; /*Начальная прозрачность изображений*/
margin: 5px ; /*Интервалы между изображениями*/
width: 25%;
height: 20%; 
margin-left: 10px;

    padding: 4px;
       background: #FFF5EE;
}

.hovergallery img:hover{
-webkit-transform:scale(1.1); /*Webkit: увеличиваем размер до 1.2x*/
-moz-transform:scale(1.1); /*Mozilla: масштабирование*/
-o-transform:scale(1.1); /*Opera: масштабирование*/
box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
-webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
opacity: 1;
}
.contacts a { 
    text-decoration:line-through;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
    color: #1E90FF; /*меняем цвет ссылок*/
}
/* reg */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}